<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duk3r.eortologio2"
    android:versionCode="29"
    android:versionName="2.6.1" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" >
    </uses-feature>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.duk3r.eortologio2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActionArgies" />
        <activity android:name=".Prosexeis"/>
        <activity android:name=".eorteslist" />
        <activity android:name=".bdaylist" />
        <activity android:name=".argiesadd" />
        <activity android:name=".search" />
        <activity android:name=".ActionBday" />
        <activity android:name=".ActionPagosmies" />
        <activity
            android:name=".Preferences"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>

        <receiver
            android:name=".Widget"
            android:icon="@drawable/ic_launcher"
            android:label="Εορτολόγιο Black"
            android:process="com.androiduipatterns.widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.WIDGET_THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.START_APP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.DAY_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY1" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY2" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CONTACTS_CEL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <receiver
            android:name=".Widget2"
            android:icon="@drawable/ic_launcher"
            android:label="Εορτολόγιο Transparent"
            android:process="com.androiduipatterns.widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.WIDGET_THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.START_APP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.DAY_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY1" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY2" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CONTACTS_CEL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_trans" />
        </receiver>
        <receiver
            android:name=".Widget3"
            android:icon="@drawable/ic_launcher"
            android:label="Εορτολόγιο Black 5x1"
            android:process="com.androiduipatterns.widget" >
            <intent-filter>
                <action android:name="android.appwidget.action2.ACTION_APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action2.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.WIDGET_THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.START_APP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.DAY_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY1" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY2" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CONTACTS_CEL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget5" />
        </receiver>
        <receiver
            android:name=".Widget4"
            android:icon="@drawable/ic_launcher"
            android:label="Εορτολόγιο Transparent 5x1"
            android:process="com.androiduipatterns.widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.WIDGET_THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.START_APP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.DAY_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY1" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY2" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CONTACTS_CEL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget5_trans" />
        </receiver>
        <receiver
            android:name=".Widget5"
            android:icon="@drawable/ic_launcher"
            android:label="Εορτολόγιο Semi"
            android:process="com.androiduipatterns.widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.WIDGET_THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.START_APP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.DAY_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY1" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY2" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CONTACTS_CEL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_semi" />
        </receiver>
        <receiver
            android:name=".Widget6"
            android:icon="@drawable/ic_launcher"
            android:label="Εορτολόγιο Semi 5x1"
            android:process="com.androiduipatterns.widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.WIDGET_THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.START_APP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.DAY_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY1" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CHANGE_DAY2" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.CONTACTS_CEL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget5_semi" />
        </receiver>

        <receiver android:name="MyStartupIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name="MyService" >
            <intent-filter>
                <action android:name="com.duk3r.eortologio2.MyService" />
            </intent-filter>
        </service>

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" >
        </uses-library>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
